@{
  Layout = "_Layout";
}
@model Library.Models.Book

<h3>Add an author to this Book: @Html.DisplayFor(model => model.BookName)</h3>
<br>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  @Html.Label("Select Author")
  @Html.DropDownList("AuthorId", null, "Please Select", htmlAttributes: new{required = "Please select a Author"})

  <input type="submit" value="Save" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Details", new { id = Model.BookId}, new {@class="btn btn-info btn-sm"})</p>
