@{
  Layout = "_Layout";
}
@using Library.Models
@model Library.Models.Book

<h2>Book Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.BookName): @Html.DisplayFor(model => model.BookName)</h3>

<p>This book is registered in the catalog as @Model.BookName and there are currently @Model.BookCopies.Count in circulation.
</p>

<h4>Authors for this book:</h4>
      <ul>
        @foreach (var join in Model.JoinEntries)
        {
          <li>@join.Author.AuthorName</li>
        }
      </ul>

<br>
<p>@Html.ActionLink("Edit Item", "Edit", new { id = Model.BookId }, new {@class="btn btn-success btn-sm"})</p>
<p>@Html.ActionLink("Add a Author", "AddAuthor", "Books", new { id = Model.BookId }, new {@class="btn btn-success btn-sm"})</p>
@using (Html.BeginForm("AddCopy", "Books"))
{
  <p>@Html.HiddenFor(model => model.BookId)
  <input type="submit" value="Add a Copy" class="btn btn-success btn-sm" /></p>
}

<p>@Html.ActionLink("Delete Item", "Delete", new { id = Model.BookId }, new {@class="btn btn-danger btn-sm"})</p>
<p>@Html.ActionLink("See All Books", "Index", null, null, new {@class="btn btn-info btn-sm"})</p>
