@{
    Layout = "_Layout";
}

<h1>Welcome to the {NAME TO BE INSERTED LATER BECAUSE I LACK CREATIVITY AT THE MOMENT} Library!</h1>
<p>@Html.ActionLink("See all books", "Index", "Books")</p>
<p>@Html.ActionLink("See all catalogs", "Index", "Catalogs")</p>
<p>@Html.ActionLink("See all authors", "Index", "Authors")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
