@{
  Layout = "_Layout";
}
@using Library.Models
@model Library.Models.Catalog

<h2>Catalog Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.CatalogName): @Html.DisplayFor(model => model.CatalogName)</h3>

<p>This catalog is categorized as: @Model.CatalogName.
</p>

<p>@Html.ActionLink("See All Catalogs", "Index", null, null, new {@class="btn btn-info btn-sm"})</p>
@if (User.Identity.Name == "admin@library.local")
{
  <p>@Html.ActionLink("Edit Item", "Edit", new { id = Model.CatalogId })</p>
  <p>@Html.ActionLink("Delete Item", "Delete", new { id = Model.CatalogId })</p>
}