@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h2>Edit</h2>

<h4>Edit this author: @Html.DisplayFor(model => model.AuthorName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AuthorId)

  @Html.LabelFor(model => model.AuthorName)
  @Html.EditorFor(model => model.AuthorName)

  <input type="submit" value="Save" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Details", null, new {id = Model.AuthorId }, new {@class="btn btn-info btn-sm"})</p>