@{
  Layout = "_Layout";
}
@using Library.Models;
@model IEnumerable<Library.Models.Author>

<br>
<h1>Items for @User.Identity.Name</h1>
<h1>Authors</h1>

@if (@Model.Any())
{
  <ul>
    @foreach (Author author in Model)
    {
      <li>@Html.ActionLink($"{author.AuthorName}", "Details", new { id = author.AuthorId }, new {@class="linkHelper"})</li>
    }
  </ul>
}
else
{
  <h3>No authors have been added yet!</h3>
}

<br>
<p>@Html.ActionLink("Add new author", "Create", null, null, new {@class="btn btn-success btn-sm"})</p>
<p>@Html.ActionLink("Look up an author", "Search", null, null, new {@class="btn btn-info btn-sm"})</p>
